extends ./layout.jade

block content
  .container
    .card
      .media.template
        .media-left
          img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      .media
        .media-left
            img.media-object(src='http://www.sessionlogs.com/media/icons/defaultIcon.png')
        .media-body
          h2.media-heading message topic 
          h5.time= date
          p whatever messages
      
